#message-div {
    background-color: khaki;
    width: 70%;
    padding: 14px;
    border-radius: 25px;
    border-right: black;
    display: block;
    margin: 10px auto;
}

#button-how-works:hover{
    color: #FBBF24;
}
#buttonCreate:hover + #icon{
    stroke: white;
}
#new-user-div{
    border-radius: 25px;
    margin-top: 14px;
    margin-left: 20%;
    padding: 10px;
}